{% extends 'admin/master.html' %}

{% block body %}
    <div class="container">
        <h1>Добро пожаловать в Админ-панель</h1>
        <p>
            <a href="{{ url_for('index') }}">Вернуться назад</a>
        </p>
        <h2>Инструкция</h2>
        <p>
            Инструкция по работе с админ-панелью:
            <ul>
                <li>Админ панель связана с базой данных(БД), именно по этому все столбцы называются также, как и в самой БД, на английском</li>
                <li>Используйте ссылки в навигационной панели для просмотра и редактирования таблиц БД.</li>
                <li>Нажмите на ручку(карандаш) в таблице, чтобы просмотреть подробную информацию об этой записи.</li>
                <li>Нажмите кнопку 'Create' в верхней части таблицы, чтобы добавить новую запись</li>
                <li>На странице подробной инфромации(редактирования), можно не только сохранять изменения, но и "сохранить и добавить новое", "сохранить и продолжить редактирование", "Удалить"</li>
            </ul>
        </p>
    </div>
{% endblock %}